{% extends "layouts/base.html" %}

{% block title %} الصفحة الرئيسية {% endblock %}
{% block header_title %}إدارة الدعم و التمكين{% endblock %}
{% block header_sub_title %}متابعة تأسيس مكاتب إدارة البيانات{% endblock %}
{% block header_profile_image %}<img src="{{ url_for('static', filename='assets/img/brand/dark.svg')}}" />{% endblock %}

<!-- /static/assets/img/illustrations/reading-side.svg -->


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <section class="section section-lg pt-0">
            <div class="container">
                <div class="card border-0 overflow-hidden pt-6">
                    <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded py-8">
                        <table class="table">
                            <tr>
                                <th>إحصائيات النظام</th>
                            </tr>
                            <tr>
                                <td>عدد المستخدمين الحاليين</td>
                                <td>{{stats.get('total_users',0)}}</td>
                            </tr>
                            <tr>
                                <td>عدد الجهات</td>
                                <td>{{stats.get('total_profiles',0)}}</td>
                            </tr>
                            <tr>
                                <td>عدد الإجراءات</td>
                                <td>{{stats.get('total_actions',0)}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

{% endblock %}